.App {
  text-align: center;
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}

.starfield {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.spinner-container {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.APOD {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.APOD-image {
  max-width: 50%;
  height: auto;
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
}

.APOD-title {
  font-size: 2em;
  margin: 10px auto;
  text-align: center;
}

.APOD-date {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: #dd361c;
  color: white;
}

.APOD-desc {
  max-width: 80%;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
  margin: 20px auto;
}