.Header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    background-color: black;
    color: white;
    min-height: 90px;
}

.logo {
    justify-self: start;
    width: 70px;
    height: 55px;
    margin-left: 20px;
}